html, body.style-1 {
    background-color: #444
}
.style-1 .title {
    border-bottom: 1px solid #666
}
.style-1 #page {
    color: #fff
}
.style-1 .nav-skin {
    color: #fff
}
.style-1 .title h1 a {
    color: #fff
}
.style-1 .title h2 {
    color: #fff
}
.style-1 .nav-color {
    color: #f0f0f0
}
.style-1 .main-btn a, .pager * {
    border: 1px solid #222;
    color: #ccc;
    background-position: 0 -148px
}
.style-1 .main-btn a, .pager a {
    text-shadow: 1px 1px 0 #333
}
.style-1 .main-btn a:hover, .pager a:hover {
    background-position: 0 -198px;
    color: #fff;
    border: 1px solid #000;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .25) inset, 0 0 12px rgba(0, 0, 0, .25) inset, 0 0 0 1px #333
}
.style-1 .main-btn a:focus, .pager a:focus {
    background-position: 0 -248px
}
.style-1 .pager span {
    background: none;
    border-color: #333
}
.style-1 .pager span.current {
    background: none;
    border: none;
    font-weight: bold;
    padding: 0 10px
}
.style-1 .pager span.disabled {
    color: #999
}
.style-1 .footer {
    border-top: 1px solid #222
}
.style-1 .footer-main {
    border-top: 1px solid #444;
    background-color: #333;
    color: #666;
    text-shadow: 1px 1px 0 #000
}