html,
body {
    height: auto;
}


.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.ie8-warning-mask {
    height: 60px;
}

#ie8-warning {
    width: 100%;
    background: #ffffe1;
    padding: 10px 0;
    font-size: 12px;
    z-index: 9999999999;
    position: fixed;
    top:0;
}

#ie8-warning p {
    width: 960px;
    margin: 0 auto;
}

.modal-footer{
    text-align: center;
}