body.style-3  {
    background-color: #87ceeb
}
.style-3 .title {
    border-bottom: 1px solid #34b6eb
}
.style-3 .title h1 a {
    color: #333
}
.style-3 .title h2 {
    color: #333
}
.style-3 .nav-color {
    color: #fff
}
.style-3 .footer {
    border-top: 1px solid #0d98d0
}
.style-3 .footer-main {
    border-top: 1px solid #33adde;
    background-color: #0d98d0;
    color: #055271;
    text-shadow: 1px 1px 0 #33adde
}
.style-3 .footer-main a {
    color: #055271
}
.style-3 .main-btn a, .pager * {
    border: 1px solid #046c92;
    color: #f0f0f0;
    background-position: 0 -450px
}
.style-3 .main-btn a, .pager a {
    text-shadow: 1px 1px 0 #333
}
.style-3 .main-btn a:hover, .pager a:hover {
    background-position: 0 -500px;
    color: #fff;
    border: 1px solid #046183;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .25) inset, 0 0 12px rgba(0, 0, 0, .25) inset, 0 0 0 1px #76c2c4
}
.style-3 .main-btn a:focus, .pager a:focus {
    background-position: 0 -550px
}
.style-3 .pager span {
    background: none;
    border-color: #046c92
}
.style-3 .pager span.current {
    background: none;
    border: none;
    font-weight: bold;
    padding: 0 10px
}
.style-3 .pager span.disabled {
    color: #666
}