* {
	color: white;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html,
body {
	height: 100%;
	background-color: black;
}

small{
	color: grey;
}

.nav-link {
	color: white !important;
	margin: auto 1rem;
}

.navbar-nav li {
	padding: 0;
}

.nav-link:after {
	content: "";
	display: block;
	width: 0;
	height: 2px;
	margin: auto;
	transition: width .3s ease, background-color .3s ease;
}

.nav-link:hover:after {
	background: white;
	color: white;
	width: 100%;
}

.navbar-toggler{
	border: none;
}

.btn-outline-light {
	padding: 0.75rem 2rem;
	border-radius: 0.5rem;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
	outline: none;
	box-shadow: none !important;
}

#main {
	z-index: 100;
	display: none;
}

#canvas {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#bg {
	z-index: 0;
	-webkit-mask-image: linear-gradient(to bottom, rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%);
	background: center 0px / cover no-repeat;
}

.rotate{
	animation:rotate 4s linear infinite;      
}

.rotate.pause{
	animation:none;      
}

.pause .icon-play:before {
    content: "\e635";
}

@keyframes rotate{
	0%{transform:rotate(0deg);}
	25%{transform:rotate(90deg);}
	50%{transform:rotate(180deg);}
	75%{transform:rotate(270deg);}
	100%{transform:rotate(360deg);}
}